
.container-fluid {
    background-image: url('../../assets/cinemaPerHomeComponent.jpg');
    padding:0;
    background-size: 100%;
    background-repeat: no-repeat;
}

.container-fluid img {
    width: 100%;
    margin-top: -12%;
}

.bt{
    margin-top: 0%;
}

.botton-play{
    padding:250px 600px;
}
