
.container-fluid {
    padding:0;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
}

.container-fluid img {
    width: 100%;
    margin-top: -12%;
}

.bt{
    margin-top: 0%;
}