<p>add-movie-comment works!</p>
<form #movieCommentForm="ngForm" (submit)="AddMovieComment(movieCommentForm)">
    <input
        [ngModel]
        name="movie_id"
        placeholder="movie_id"
        type="number" 
    >

    <input
        [ngModel]
        name="user_id"
        placeholder="user_id"

        type="number" 
    >

    <input
        [ngModel]
        name="comment"
        placeholder="comment"

        type="text" 
    >
    <button type="submit">Aggiungi Commento</button>
  </form>