
.container-fluid{
    background-image: url("../../assets/tempo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bt{
    margin-top: 0%;
}

div.form{
    background-color: rgba(128, 128, 128, 0.507);
    padding: 100px 500px;

}

div.ListaFilm{
    display: none;
}

.btn btn-primary:active{
    div.ListaFilm{
        display: block;
    }

    .container-fluid vh-100{
        display: none;
    }
    
}



