
.container-fluid{
    background-image: url("../../assets/tempo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bt{
    margin-top: 0%;
}

div.form{
    background-color: rgba(128, 128, 128, 0.507);
    padding: 150px 500px;

}