<app-navbar></app-navbar>
<ul *ngIf="loginService.isUserLoggedIn()">
    <li *ngFor="let movie of moviesTMDB?.results | slice:0:10;">
        <div class="card" style="width: 10rem;">
            <img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" class="card-img-top" alt={{movie.title}}>
            <div class="card-body">
              <h5 class="card-title">{{movie.original_title}}</h5>
              
                <button *ngIf="!isFavourite(movie.id)" class="btn btn-primary" (click)="addMoviefavour(1,movie.id)"> Salva nei Preferiti</button>
              
                <div *ngIf="isFavourite(movie.id)">
                  <button class="btn btn-primary" style="background-color: rgb(23, 148, 23);"> Nei Tuoi Preferiti </button>
                </div>
              
                <!--<div *ngFor="let movieFavour of movieFavourList; let i = index">
                  <div *ngIf="movie.id != movieFavour.movie_Id && i+1 == movieFavourList?.length">
                    <button *ngIf="flag" class="btn btn-primary" (click)="addMoviefavour(1,movie.id)"> Salva nei Preferiti</button>
                    {{setFalse()}}
                  </div>
                  <div *ngIf="movie.id == movieFavour.movie_Id">
                    <button *ngIf="flag" class="btn btn-primary" style="background-color: rgb(23, 148, 23);"> Nei Tuoi Preferiti </button>
                    {{setFalse()}}
                  </div>
                  <div class="counter">{{i+1}}</div>
                </div>
                {{setTrue()}}-->
             

                
              
            </div>
          </div>
    </li>
</ul>
<app-footer></app-footer>