<app-navbar></app-navbar>
<ul *ngIf="loginService.isUserLoggedIn()">
    <li *ngFor="let movie of moviesTMDB?.results | slice:0:10;">
        <div class="card" style="width: 10rem;">
            <img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" class="card-img-top" alt={{movie.title}}>
            <h1>{{movie.id}}</h1>
            <div class="card-body">
              <h5 class="card-title">{{movie.original_title}}</h5>

              <!--Confronto-->
              {{getData(movie.id)}}
              <div *ngIf="notFound; else elseBlock">
                <button class="btn btn-primary" (click)="addMoviefavour(1,movie.id)"> Salva nei Preferiti</button>
              </div>
              <ng-template #elseBlock>
                <button class="btn btn-primary" style="background-color: rgb(23, 148, 23);"> Salvato </button>
              </ng-template>
              <!--<div *ngFor="let movieFavour of movieFavourList">
                <div *ngIf="movie.id != movieFavour.movie_Id">
                  <button class="btn btn-primary" (click)="addMoviefavour(1,movie.id)"> Salva nei Preferiti</button>
                </div>
                <div *ngIf="movie.id == movieFavour.movie_Id">
                  <button class="btn btn-primary" style="background-color: rgb(23, 148, 23);"> Salvato </button>
                </div>
              </div>-->
              
              
            </div>
          </div>
    </li>
</ul>
<app-footer></app-footer>