<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="../home/">
        <img src="../../assets/favicon.png" alt="" width="30" height="28" class="d-inline-block align-text-top">
        Film&History
        </a>
        <a *ngIf="loginService.isUserLoggedIn()"  routerLink="/" class="nav-link">Vedi tutti gli Utenti</a>
        <a  *ngIf="loginService.isUserLoggedIn()" routerLink="/addCustomers" class="nav-link">Aggiungi Utente</a>
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a>
        
        <a class="navbar-brand" href="../login">
          <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link"><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">Login</button></a> 
        </a>
    </div>
  </nav>