<app-navbar></app-navbar>
<div *ngIf="!isListaVuota()">
  <h1>Lista Film Preferiti</h1>
  <ul >
      <li *ngFor="let movie of moviesTMDB; let i = index">
          <div class="card" style="width: 25rem;">  
              <img src="https://image.tmdb.org/t/p/w300{{movie?.poster_path}}" class="card-img-top" alt={{movie?.title}}>
              <div class="card-body">
                <h5 class="card-title">{{movie?.original_title}}</h5>
                {{moviesRating[i].movie_rating}}
                <div>
                {{movieComments[i].comment}}
                </div>
                <div>
                  <button  class="btn btn-primary" (click)="deleteMoviefavour(1,movie.id)"> Cancella dalla tua lista</button>
                </div>
               
              </div>
            </div>
      </li>
  </ul>
</div>
<div *ngIf="isListaVuota()" class="container-fluid vh-100">
  <h2 class="container-fluid vh-100">NON HAI NESSUN FILM NELLA TUA LISTA</h2>
  <div class="botton-play">
    <a *ngIf="loginService.isUserLoggedIn()" routerLink="/movie-game" class="nav-link"><button class="btn btn-primary">--- GIOCA ---</button></a>
  </div>
</div>
  
<app-footer></app-footer>



