ul {
    padding: 0;
    margin-left: 5%;
}

li{
    display: block;
    padding: 5%;
    padding-bottom: 0;
}

.card img {
    width: 100%;
    margin: auto;
}

.card {
    margin: 0;
}

ul{
    list-style: none;
}

.counter {
    display: none;
}