<app-navbar></app-navbar>
    



    <h1>Lista Film Preferiti</h1>

    <ul *ngIf="loginService.isUserLoggedIn()">
        <li *ngFor="let movie of moviesFavou">
            <div   class="card" style="width: 10rem;">     
                <img src="https://image.tmdb.org/t/p/w300{{movieTMDB?.poster_path}}" class="card-img-top" alt={{movieTMDB?.title}}>
                <div class="card-body">
                  <h5 class="card-title">{{movieTMDB?.original_title}}</h5>
                </div>
              </div>
        </li>
    </ul>
<app-footer></app-footer>

