<html>
<head>
  <meta charset="UTF-8">
  <title>Star rating using pure CSS</title>
</head>

<body>

    <form #ratingForm="ngForm">
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" ngModel/>
        <label for="star5" title="text">1 star</label>
        <input type="radio" id="star4" name="rate" value="4" ngModel/>
        <label for="star4" title="text">2 stars</label>
        <input type="radio" id="star3" name="rate" value="3" ngModel/>
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" ngModel/>
        <label for="star2" title="text">4 stars</label>
        <input type="radio" id="star1" name="rate" value="1" ngModel/>
        <label for="star1" title="text">5 stars</label>
      </div>
      <button (click)="invio(ratingForm)" onclick="this.disabled=true" type="submit" class="btn btn-primary" > Aggiungi valutazione</button>

    </form>

    


</body>

</html>