<app-navbar></app-navbar>
<form #loginForm="ngForm" (ngSubmit)="checkLogin(loginForm)">
    <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <div>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="username" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>
      </div>  
      <button class="btn btn-success">Login</button>
      <!-- <button type="submit">Login</button>  -->
      
    </div>
  
  
  </form>